---

# Generates Master OAuth token for administrator account on AWX/Automation Controller
- import_tasks: "{{ role_path }}/tasks/master_token.yml"
  tags: [ 'never', 'master-token' ]

# AWX/Automation Controller cleanup default configuration
- import_tasks: "{{ role_path }}/tasks/cleanup_defaults.yml"
  tags: [ 'never', 'configure-awx' ]

# AWX/Automation Controller configure organisations, user accounts and inventories
- import_tasks: "{{ role_path }}/tasks/users_org_inventory_awx.yml"
  tags: [ 'never', 'configure-awx' ]

# AWX/Automation Controller configure projects
- import_tasks: "{{ role_path }}/tasks/projects_awx.yml"
  tags: [ 'never', 'configure-awx' ]

# AWX/Automation Controller configure job templates
- import_tasks: "{{ role_path }}/tasks/templates_awx.yml"
  tags: [ 'never', 'configure-awx' ]

# AWX/Automation Controller configure job schedules
- import_tasks: "{{ role_path }}/tasks/schedules_awx.yml"
  tags: [ 'never', 'configure-awx' ]