---

- name: Add prerequisite packages
  apt:
    pkg:
    - ufw

- name: UFW add port 22 TCP
  ufw:
    rule: allow
    port: '22'
    proto: tcp

- name: UFW add port 80 TCP
  ufw:
    rule: allow
    port: '80'
    proto: tcp

- name: UFW add port 443 TCP
  ufw:
    rule: allow
    port: '443'
    proto: tcp

- name: UFW default allow outgoing traffic
  ufw:
    policy: allow
    direction: outgoing

- name: UFW default deny incoming traffic
  ufw:
    policy: deny
    direction: incoming

- name: Enable Firewall
  ufw:
    state: enabled