#!/bin/bash
while true; do
    echo "Monitoring /data/backup for filesystem changes"
    inotifywait /data/backup
    echo "Detecting open file handles on directories in /data/backup"
    declare -i count=0
    while true; do
        sleep 1
        handles=""
        handles=$(lsof +D /data/backup/)
        if [ -z "$handles" ]
        then
            echo "Output was empty $count times"
            declare -i count=$(($count+1))
        fi
        if [ "$count" == "30" ]
        then
            echo "Output was empty 20x times, exiting loop"
            break
        fi
    done
    count=0
    echo "The backup appears to have finished"
    rm -rf /data/backup/$(ls -d /data/backup/* | tail -n +{{ backup_local_copies }})
    echo "Run borgmatic as borg user"
    runuser -u borg -- borgmatic --config /home/borg/.config/borgmatic/config.yaml
done